/composer.phar

/backend/public/*
!/backend/public/index.php
!/backend/public/.htaccess
!/backend/public/web.config
!/backend/public/robots
!/backend/public/mix-manifest.json

/backend/composer.phar
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log


/frontend/.DS_Store
/frontend/node_modules
/frontend/dist
/frontend/coverage

/frontend/tests/e2e/reports/
/frontend/selenium-debug.log

# local env files
/frontend/.env.local
/frontend/.env.*.local

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Editor directories and files
/frontend/.idea
/frontend/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

ściąga.txt

# PhpStorm
.idea

# Docker Compose
.env