.color-custom {
    background-color: #64B1E5 !important;
    border: none;
}

.submit-btn-color {
    background-color: #1F7DDB;
    color: #ffffff;
    border: none;
}

.btn-custom-active {
    color: #fff!important;
    background-color: #64B1E5!important;
    border: none;
    -moz-box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    -webkit-box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    border-radius: 39px!important;
    font-family: 'Toppan Bunkyu Midashi Gothic';
    font-size: 17px;
}

.btn-custom {
    font-family: 'Toppan Bunkyu Midashi Gothic';
    font-size: 17px;
    color: #64B1E5;
    background-color: #E6F5FF;
    border: none;
    -moz-box-shadow: inset -1px -2px 1px 0 #C2CED7;
    -webkit-box-shadow: inset -1px -2px 1px 0 #C2CED7;
    box-shadow: inset -1px -2px 1px 0 #C2CED7;
    border-radius: 39px;
}

.custom-color {
    color: #1F7DDB!important;
}

.btn-custom:hover {
    color: #fff;
    background-color: #64B1E5;
    border: none;
    -moz-box-shadow: inset -1px -2px 1px 0 #5394C0;
    -webkit-box-shadow: inset -1px -2px 1px 0 #5394C0;
    box-shadow: inset -1px -2px 1px 0 #5394C0;
}

.btn-custom:focus {
    -moz-box-shadow: inset -1px -2px 1px 0 #5394C0;
    -webkit-box-shadow: inset -1px -2px 1px 0 #5394C0;
    box-shadow: inset -1px -2px 1px 0 #5394C0;
}

.btn-custom:active {
    color: #fff;
    background-color: #64B1E5;
}

.sale-daily-report-histories {
    .row {
        &:last-child {
            margin-top: -10px;
        }
    }
    .card-item {
        padding: 10px 10px 0;
        p {
            font-size: 14px;
            display: block;
            margin: auto;
            text-align: center;
        }
        .card-header {
            padding: 5px;
        }
        .card {
            height: 180px;
        }
        .text-center {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10%;
            font-weight: 400;
            span {
                font-size: 14px;
                padding: 12px 0 0 8px;
            }
        }
    }
    .sale-name-list {
        label {
            font-size: 16px;
        }
        span {
            font-size: 14px;
            color: #7F7F99;
        }
    }
    .search-date-time {
        position: relative;
        .icon-calendar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border: 1px solid #ccc;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
    .mx-datepicker-range {
        width: 300px;
        .mx-icon-calendar {
            display: none;
        }
        .mx-input {
            padding-left: 45px;
        }
    }
}

.mx-calendar {
    &:last-child {
        display: none;
    }
}

@import "common/loader";
.laravel-vue-datatable-th {
    font-weight: 200;
}

.forgot-password,
.change-password,
.success-email,
.success-password {
    .p-4 {
        // height: 322px;
        h1 {
            font-size: 31px;
        }
        .btn:not(:disabled):not(.disabled) {
            padding: 0 !important;
        }
        .text-muted {
            font-size: 14px;
            padding: 0px;
        }
        .w45 {
            button {
                width: 84px;
                height: 37px;
            }
        }
        .w55 {
            width: 55%;
            a {
                margin-top: 0 !important;
            }
        }
        .w-10 {
            width: 67px;
        }
    }
}

.login-password {
    .p-4 {
        // height: 322px;
        h1 {
            font-size: 31px;
        }
        .btn:not(:disabled):not(.disabled) {
            padding: 0 !important;
        }
        .text-muted {
            font-size: 14px;
            padding: 0px;
        }
        .w45 {
            width: 45%;
            button {
                width: 84px;
                height: 37px;
            }
        }
        .w55 {
            width: 55%;
            a {
                margin-top: 29px !important;
                width: 160px !important;
            }
        }
    }
}

@media (max-width: 576px) {
    .login-password {
        .col-xs-6.col-sm-4.w45 {
            width: 40%;
        }
        .col-sm-8.col-xs-6.text-right {
            width: 60%;
        }
    }
}

@media (max-width: 576px) {
    .forgot-password,
    .change-password {
        .col-sm-6.col-xs-12.text-right {
            margin-top: 10px;
            display: inline-grid;
            a {
                text-align: end;
            }
        }
    }
}

@media (min-width: 576px) {
    .forgot-password,
    .change-password {
        .col-sm-6.col-xs-12.text-right {
            margin-top: 10px;
            display: inline-grid;
            a {
                text-align: end;
            }
        }
    }
}

.sales-chart-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-sc-type {
    width: fit-content;
    white-space: nowrap;
}

.sc-type-item {
    margin-left: 8px;
}

.ig-date {
    width: 297px;
}

.mx-range-wrapper>div:last-child {
    display: none;
}

.icon-sales-chart {
    background-image: url(/image/iconAdminCalendar.png);
    background-position: center;
    background-size: 1rem;
}

.nav-admin {
    .c-sidebar-nav-icon {
        font-size: 13px !important;
        padding-top: 5px;
    }
}

.is-active-header {
    color: #1F7DDB !important;
}

.admin-user-list.cd-table-responsive .flex.mb-3 {
    display: none;
}

.admin-user-list {
    .page-item.pagination-page-nav.active {
        .page-link {
            background-color: #64B1E5 !important;
            border-color: #c4c9d0;
        }
    }
    .page-item.pagination-page-nav:not(.active),
    .page-item.pagination-next-nav:not(.disabled),
    .page-item.pagination-prev-nav:not(.disabled) {
        .page-link {
            color: #1F7DDB !important;
        }
    }
}

.report-management .cd-table-responsive .flex.mb-3 {
    display: none;
}

.report-management {
    .page-item.pagination-page-nav.active {
        .page-link {
            background-color: #64B1E5 !important;
            border-color: #c4c9d0;
        }
    }
    .btn-outline-secondary {
        color: #ced2d8;
    }
    .r-m-th:nth-of-type(1) {
        font-weight: bold;
    }
    /* only the cells with no cell before (aka the first one) */
    td {
        font-weight: bold;
    }
    /* only the cells with at least one cell before (aka all except the first one) */
    td+td {
        font-weight: unset;
    }
    .page-item.pagination-page-nav:not(.active),
    .page-item.pagination-next-nav:not(.disabled),
    .page-item.pagination-prev-nav:not(.disabled) {
        .page-link {
            color: #1F7DDB !important;
        }
    }
}

.card.disabled {
    background-color: #d8dbe0;
    button {
        background-color: transparent;
        color: #000;
        border-color: transparent;
    }
}