@import "common/loader";

.laravel-vue-datatable-th {
  font-weight: 200;
}

.sales-chart-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.btn-sc-type{
  width: fit-content;
  white-space: nowrap;
}

.sc-type-item {
  margin-left: 8px;
}

.ig-date{
  width: 297px;
}

.mx-range-wrapper > div:last-child {
  display: none;
}

.icon-sales-chart {
  background-image: url(/image/iconAdminCalendar.png);
  background-position: center;
  background-size: 1rem;
}

.report-management {
    .table th,
    .table td {
        padding: 0.3rem;
    }
    a.active {
        background: #321FDB;
        color: #ffffff !important;
    }
    a.active:hover {
        background: #321FDB;
        color: #ffffff !important;
    }
}
