.btn:not(:disabled):not(.disabled) {
    padding: 0;
}

.text-muted {
    font-size: 12px;
    padding: 0px;
}

.w45 {
    width: 45%;
}

.w55 {
    width: 55%;
    a {
        margin-top: 0 !important;
    }
}