body {
    font-family: 'Hiragino Kaku Gothic W8';
}

@media (max-width: 480px) {
    .sales-register-btn {
        width: 100%;
    }
}

.sales-register-link {
    text-align: center;
    padding: 0;
    white-space: nowrap;
}

.report-histories {
    .mx-datepicker-range {
        width: 100%;
    }
    .mx-input {
        height: 45px;
        font-size: 16px;
    }
    .mx-icon-calendar {
        font-size: 20px;
    }
    .h-45 {
        height: 45px;
    }
    .w-100.text-center {
        table-layout: fixed;
    }
    .table {
        border: 1px solid #768192;
        color: #768192;
        th,
        td {
            padding: 0.5rem;
        }
        tr:first-child td:first-child {
            border: 1px solid #768192;
        }
    }
    a.active h5 {
        color: #ffffff !important;
    }
    h5 {
        font-size: 16px;
    }
    .mx-datepicker-range .mx-input {
        font-size: 14px;
        height: 44px;
    }
}

.search-date-time {
    position: relative;
    .icon-calendar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.mx-datepicker-range {
    width: 300px;
    .mx-icon-calendar {
        background-image: url(/image/iconAdminCalendar.png);
        background-position: center;
        width: 39px;
        height: 43px;
        position: absolute;
        left: 1px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        border-right: 1px solid #cccccc;
        background-size: 34px;
        display: block !important;
        svg {
            display: none;
        }
    }
    .mx-input {
        padding-left: 45px;
    }
}

.mx-range-wrapper>div:last-child {
    display: none;
}

.forgot-password,
.change-password,
.success-email {
    h1 {
        font-size: 31px;
    }
    .btn:not(:disabled):not(.disabled) {
        padding: 0 !important;
    }
    .text-muted {
        font-size: 14px;
        padding: 0px;
    }
    .w45 {
        width: 45%;
        button {
            width: 84px;
            height: 37px;
        }
    }
    .w55 {
        width: 55%;
        a {
            margin-top: 0 !important;
        }
    }
    .w-10 {
        width: 67px;
    }
}

.login-password {
    h1 {
        font-size: 31px;
    }
    .btn:not(:disabled):not(.disabled) {
        padding: 0 !important;
    }
    .text-muted {
        font-size: 14px;
        padding: 0px;
    }
    .w45 {
        button {
            width: 84px;
            height: 37px;
        }
    }
}

@media (max-width: 576px) {
    .login-password {
        .col-xs-6.col-sm-4.w45 {
            width: 40%;
        }
        .col-sm-8.col-xs-6.text-right {
            width: 60%;
        }
    }
}

@media (max-width: 576px) {
    .forgot-password,
    .change-password {
        .col-sm-6.col-xs-12.text-right {
            display: inline-grid;
            a {
                text-align: end;
            }
        }
    }
}

@media (min-width: 576px) {
    .forgot-password,
    .change-password {
        .col-sm-6.col-xs-12.text-right {
            display: inline-grid;
            a {
                text-align: end;
            }
        }
    }
}

.change-password,
.success-email {
    .col-md-9.col-lg-12.text-center {
        margin: 32px auto 0px auto;
    }
}

.mg-left-20 {
    margin-left: 20px;
    margin-top: 22px;
}

.daily_report_create {
    @media screen and (min-width: 768px) {
        .content {
            width: 60%;
            margin: auto;
        }
        .card-body {
            padding: 40px;
        }
        button:not(.change-password-submit) {
            width: 200px !important;
        }
    }
}

.daily_report_complete {
    @media screen and (min-width: 768px) {
        .content {
            width: 60%;
            margin: auto;
        }
        .card-body {
            padding: 40px;
        }
        img {
            width: 15% !important;
        }
    }
    .font-size-20 {
        font-size: 20px !important;
    }
    p,
    label,
    span {
        color: #7D8797;
    }
    h5 {
        color: #768192;
    }
    .header {
        color: #000000;
        font-size: 16px;
    }
    h3 {
        font-size: 24px !important;
    }
    .note-content {
        font-size: 12px;
    }
}

.top {
    .list-group {
        padding-left: 6.2vw!important;
        padding-right: 6.2vw;
        align-items: center;
        h1 {
            font-size: 30px;
        }
    }
    .list-group-item-action:hover,
    .list-group-item-action:focus {
        z-index: 1;
        text-decoration: none;
        color: #fff;
        background-color: inherit;
    }
    .list-group-item-action:hover h1 {
        color: #fff!important;
    }
}

.is-active-header {
    color: #1F7DDB !important;
}

.btn-custom {
    a {
        border: none;
    }
    color: #1F7DDB;
    background-color: #E6F5FF;
    border: none!important;
    -moz-box-shadow: inset -3px -4px 2px 0 #c2ced7;
    -webkit-box-shadow: inset -3px -4px 2px 0 #c2ced7;
    box-shadow: inset -3px -4px 2px 0 #c2ced7;
    ;
    border-radius: 39px!important;
}

.btn-custom:hover {
    color: #fff!important;
    background-color: #64B1E5!important;
    border: none;
    -moz-box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    -webkit-box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    border-radius: 39px!important;
}

.custom-color {
    color: #1F7DDB!important;
}

.custom-bg-color {
    background-color: #1F7DDB;
    border: none;
}

.btn-custom-active {
    color: #fff!important;
    background-color: #64B1E5!important;
    border: none;
    -moz-box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    -webkit-box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    box-shadow: inset -1px -2px 1px 0 #5394C0!important;
    border-radius: 39px!important;
}

h4 {
    font-size: 24px;
    color: #000000;
}

label {
    color: #768192;
    font-size: 14px;
}

.mx-datepicker {
    width: 100% !important;
}

.width-115 {
    width: 115px !important;
}

.width-td {
    width: calc(100% - 115px) !important;
    &::before {
        content: ":";
        position: absolute;
        left: 0;
    }
}